.content{
	margin-left:40vw;
	z-index: 99;
	position: relative;

	@media(max-width: $small){
		margin-left: 0px;
		min-height: 90vh;
	}

	main {
		margin: 45px 7vw;
		padding: 45px 0;

		@media(max-width: $small){
			margin: 0px;
			width: calc(100% - 40px);
			padding: 20px;
		}
			
		p {
			margin-bottom: 15px;
		}

		a {
			text-decoration: none;
			color: $main-4;
			background: linear-gradient(to right, $main-2, $main-2 50%, $main-1 50%);
			background-clip: text;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-size: 200% 100%;
			background-position: 100%;
			transition: background-position 275ms ease;
	
			&:hover{
				background-position: 0 100%;
			}
		}
	}
}

.pagetitle{
	top: 50px;
	position: fixed;
	line-height: 1;
	transform: rotate(90deg);
	font-size: 18px;
	margin-left: 0px;
	margin-top: 35px;
	overflow: hidden;
	z-index: 2;
	padding: 4px;
	color: $white;
	transition: $ease;

	@media(max-width: $small){
		position: absolute;
		transform: none;
		top: 30px;
		left: 20px;
		margin-top: 0px;
	}

	&:before{
		content: '';
		position: absolute;
		bottom: 1px;
		height: 2px;
		width: calc(100% + 4px);
		background-color: $white;
		z-index: -1;
		left: -4px;
	}

	&:hover{

		color: #000;
		transition: $ease;

		&:before{
			height: 100%;
			transition: $ease;
		}
	}

	a{	
		color: $white;
		text-decoration: none;
		transition: $ease;

		&:hover{
			color: #000;
			transition: $ease;
		}
	}
}

.page{
	opacity: 0;
	height: 0;

	&.enter{
		opacity: 0;

		&-active{
				opacity: 1;
				transition: opacity 2s;

		}
		&-done{
				opacity: 1;
		}
	}

	&.exit{
		opacity: 0;

		&-active{
				opacity: 0;
				transition: opacity s;
		}

		&-done{
				opacity: 0;
		}
	}
}

.toggle-switch {
	position: fixed;
	display: inline-block;
	width: 35px;
	height: 19px;
	z-index: 99;
	top: 166px;
	left: 34px;
	transform: rotate(90deg);

	@media(max-width: $small){
		position: absolute;
		top: 25px;
		right: 20px;
		left:auto;
	}

	input[type="checkbox"] {
		display: none;

		&:checked + .switch::before {
			transform: translateX(15px);
			background-color: $main-2;
		}

		&:checked + .switch {
			background-color: $main-4;
		}
	}

	.switch {
		position: absolute;
		cursor: pointer;
		background-color: $main-1;
		border-radius: 25px;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		transition: background-color 0.2s ease;

		&:before {
			position: absolute;
			content: "";
			left: 3px;
			top: 3px;
			width: 13px;
			height: 13px;
			background-color: $main-2;
			border-radius: 50%;
			transition: transform 0.3s ease;
		}
	}
}