.toggle-switch {
  position: fixed;
  display: inline-block;
  width: 35px;
  height: 19px;
  z-index: 99;
  top: 166px;
  left: 34px;
  transform: rotate(90deg);
}
.toggle-switch input[type="checkbox"] {
  display: none;
}
.toggle-switch .switch {
  position: absolute;
  cursor: pointer;
  background-color: $main-1;
  border-radius: 25px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: background-color 0.2s ease;
}
.toggle-switch .switch::before {
  position: absolute;
  content: "";
  left: 2px;
  top: 1px;
  width: 15px;
  height: 15px;
  background-color: $main-2;
  border: 2px solid $main-4;
  border-radius: 50%;
  transition: transform 0.3s ease;
}
.toggle-switch input[type="checkbox"]:checked + .switch::before {
  transform: translateX(15px);
  background-color: $main-2;
}
.toggle-switch input[type="checkbox"]:checked + .switch {
  background-color: $main-2;
}