@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;800&display=swap');

body{
	font-family: 'Inter', sans-serif;
	letter-spacing: -0.06em;
	-webkit-font-smoothing: antialiased;
}

h1{
	font-size: 32px;
	
}