@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

body{
	font-family: 'Space Mono', monospace;
	letter-spacing: -0.06em;
	-webkit-font-smoothing: antialiased;

	&.dark {
		background-color: $dark-bg;
		color: #ffffff;
	}
}

h1{
	font-size: 32px;
}

h2 {
	margin: 25px 0;
	font-size: 22px;
	color: $main-1;
}

.dark {
	h2 {
		color: $main-2;

		a {
			color: $main-1;
			background: linear-gradient(to right, $main-1, $main-1 50%, $main-2 50%);
			background-clip: text;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-size: 200% 100%;
			background-position: 100%;
			transition: background-position 275ms ease;
		}
	}
}